.product-list-container {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* Adjust the size as needed */
    gap: 3rem;
    /* Adjust the gap between items */
}

.product-item {
    /* Add styles for each product item */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: smaller;
    /* Ensure each product item has the same size */
}